*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
header{
    margin: 1.2em 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form{
    display: flex;
    align-items: center;
    min-width: 300px;
    margin-right: 1em;
}
#logo{
    max-width: 100%;
    height: 40px;
    margin-right: 1.2em;
}
#text-input{
    display: flex;
    width: 650px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 0.8em;
    border-radius: 2em;
}
input{
    width: 100%;
    border: none;
    background-color: inherit;
    padding-left: 1em;
}
#profile-logo{
    max-width: 100%;
    height: 35px;
	border-radius: 50%;
}
#navbar{
    border-bottom: 1px solid #eee;
}
#navbar ul{
    display: flex;
    justify-content: space-around;
    margin-left: 9rem;
    max-width: 650px;
    font-size: 0.8em;
}
#navbar ul li a{
    color: #555;
}
#main-container{
    max-width: 654px;
    margin-top: 2rem;
    margin-left: 9rem;
    margin-bottom: 2em;
}
#principal-result{
    padding: 1em 1.5em;
    border: 1px solid #ccc;
}
.result-title{
    margin-top: 0.1em;
    margin-bottom: 0;
}
.result-title a{
    font-weight: 500;
    color: #1a0ada;
}
.result{
    margin-top: 1.5rem;
}
.url-result{
    margin-bottom: 0;
    font-size: 0.8em;
}
.page-description{
    font-size: 0.9em;
    margin-top: 0.5rem;
    color: #333;
}
#videos-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.video-result{
    padding: 1em;
    border: 1px solid #ccc;
}
.video-image{
    height: calc(100% - 7rem);
    width: 100%;
    object-fit: cover;
  }
  .related-searches ul li{
    margin-bottom: 0.3em;
}
.related-searches ul li a{
    font-size: 0.9rem;
    color: blue;
    font-weight: 600;
}
#pagination{
    margin: 0 auto;
    width: 400px;
}
#pagination img{
    width: 400px;
}
#pages{
    margin-left: 2.8em;
}
#pages a:not(:first-child){
    margin-left: 0.9em;
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #eee;
    color: #555;
    font-size: 0.8em;
}
#locacion{
    border-bottom: 1px solid #ddd;
}
#locacion p{
    margin-left: 1em;
}
#footer-nav ul{
    padding: 0;
}
#footer-nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ul-nav li a{
    color: #555;
}
.ul-nav{
    display: flex;
    justify-content: space-around;
}
.ul-nav li{
    margin: 0 1em;
}
.ul-nav li:hover{
    text-decoration: underline;
}
@media (max-width: 750px){
    #main-container{
        margin: 2rem 1.2rem;
    }
    #footer-nav{
        justify-content: center;
    }
    #link-ocultar{
        display: none;
    }
}
@media (max-width: 550px){
    header{
        margin-left: 0.2em;
        margin-right: 0.2em;
    }
    #logo{
        height: 20px;
    }
    #profile-logo{
        height: 25px;
    }
    #navbar ul{
        margin-left: 1.2em;
    }
}